body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #23272a;
  color: #ffffff;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginLabel {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
}

#loginPage {
  display: flex;
  background-color: #2c2f33;
}
#loginNameInput {
  border: 2px solid #7289da;
  background-color: #40444b;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#chatPage {
  display: none;
  max-width: 1280px;
  margin: auto;
}

.chatArea {
  flex: 1;
  width: 100%;
  display: flex;
  background-color: #36393f;
}
.chatList {
  flex: 1;
  overflow-y: scroll;
  max-height: calc(100vh - 40px);
}
.chatList li {
  padding: 5px;
  font-size: 15px;
}
.chatList li.m-status {
  color: #72767d;
  font-style: italic;
}
.chatList li.m-txt span {
  font-weight: bold;
  color: #7289da;
}
.chatList li.m-txt span.me {
  color: #43b581;
}

.userList {
  width: 200px;
  background-color: #2f3136;
  border-right: 1px solid #202225;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
}
.userList li {
  padding: 10px;
  font-size: 15px;
  color: #b9bbbe;
  cursor: pointer;
  transition: background-color 0.2s;
}

.userList li:hover {
  background-color: #3b3e45;
  color: #ffffff;
}

.chatInput {
  width: 98.5%;  
  display: flex;
  background-color: #40444b;
  border-top: 1px solid #202225;
  padding: 10px;
}
#chatTextInput {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  background-color: #2f3136;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
}
#chatTextInput:focus {
  border: 1px solid #7289da;
}
